<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
	<link rel="stylesheet" type="text/css" href="../static/201710241453/css/htmleaf-demo.css">
	<link rel="stylesheet" type="text/css" href="../static/201710241453/css/nav.css">
       <link rel="stylesheet" type="text/css" href="../static/201710241453/fonts/iconfont.css">
</head>
<body>
{#    <div style="background-color: #475e91;text-align: center;border-radius: 5px;box-shadow: 4px 4px 10px #535353;width: 700px;height: 45px;margin: 0 auto">#}
{#        <h1 style="color: #fbfffd;">欢迎来到 接口自动化测试平台首页</h1>#}
{#    </div>#}
	<div class="nav">
	        <div class="nav-top">
	            <div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)"><img src="../static/201710241453/images/mini.png" ></div>
	        </div>
	        <ul>
	            <li class="nav-item">
	                <a href="javascript:;"><i class="my-icon nav-icon icon_2"></i><span>项目管理</span><i class="my-icon nav-more"></i></a>
	                <ul>
	                    <li><a href="javascript:;"><span>项目列表</span></a></li>
	                    <li><a href="javascript:;"><span>接口库</span></a></li>
	                    <li><a href="javascript:;"><span>用例库</span></a></li>
	                </ul>
	            </li>
	        </ul>
	    </div>


<script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
<script type="text/javascript" src="../static/201710241453/js/nav.js"></script>

<div id="page1" ></div>

<script>
$('#page1').load('/child/'+'{{ whichHTML }}/{{ oid }}/')
</script>


</body>
</html>